.container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 800px;
  gap: 30px;
}
.noPosts {
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
  background-color: white;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}
