.lang_menu {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}
.selectLanguage__title {
  position: relative;
  padding: 5px;
  font-size: 1.6rem;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.languages_list {
  margin-left: 10px;
  position: relative;
  width: 125px;
}

.selected_lang {
  background-color: #fff;
  border: 1px solid #f8f8f8;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.lang_menu ul {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #f8f8f8;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.list_item {
  list-style: none;
  text-align: left;
}

.list_item button {
  display: flex;
  align-items: center;
  width: 125px;
  padding: 0 5px;
  text-decoration: none;
  background-color: inherit;
  font-size: 1.4rem;
}

.list_item button {
  height: 28px;
}

.list_item button span {
  padding-left: 10px;
}

.list_item:hover {
  background-color: #f2f2f2;
}

.lang_menu:hover ul {
  display: block;
}
