.container {
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 800px;
  padding-bottom: 100px;
}
.deleteButton {
  margin: 30px 0;
  padding: 10px 10px;
  text-align: end;
}
.deleteButton button {
  background-color: red;
  padding: 5px 35px;
  border-radius: 10px;
  font-size: 1.8rem;
  color: whitesmoke;
  box-shadow: 0 5px 0 rgb(187, 0, 0);
}

.deleteButton:hover button {
  position: relative;
  top: 5px;
  box-shadow: none;
}
