.avatar {
  display: flex;
  box-sizing: border-box;
  border-radius: 25%;
  border: 2px solid rgb(39, 39, 39);
  background-color: gray;
  padding: 0;
}
.avatar p {
  margin: auto;
  color: white;
  text-transform: uppercase;
}

.big {
  height: 100px;
  width: 100px;
}
.avatar.big p {
  font-size: 50px;
}

.middle {
  height: 60px;
  width: 60px;
}
.avatar.middle p {
  font-size: 30px;
}

.small {
  height: 40px;
  width: 40px;
}
.avatar.small p {
  font-size: 20px;
}
