.productContainer {
  display: flex;
  width: 800px;
  height: 200px;
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
}
.productContainer:hover .productWrapper {
  background-color: whitesmoke;
}

.image {
  box-sizing: border-box;
  padding: 2px;
  height: 200px;
  flex: 2;
  background-color: white;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.productWrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
  padding: 0 20px 10px;
  background-color: white;
}

.title {
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  transition: 0.5s;
}
.title h2 {
  margin: 10px 0 0;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}
.title h2 a:hover {
  text-decoration: underline;
}
.editLink {
  text-align: right;
  width: 30px;
  padding: 5px;
  transition: 0.5s;
}
.editLink svg {
  transition: 0.5s;
}
.editLink:hover svg {
  transform: rotateY(180deg);
}

.text {
  flex: 1;
  text-align: left;
}
.text p {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.price p {
  text-align: right;
  font-size: 3rem;
  color: rgb(4, 90, 4);
}
.price p span {
  font-size: 0.4em;
}

/* full product styles */

.productContainer_full {
  width: 800px;
  min-height: 200px;
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
}

.image_full {
  background-color: gray;
  width: 100%;
  max-height: 800px;
  min-height: 200px;
  overflow: hidden;
}
.image_full img {
  width: 100%;
}

.productWrapper_full {
  padding: 10px;
}

.tittle_full {
  padding-left: 50px;
}
.text_full {
  padding-left: 50px;
}

.bottomSide {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0 0;
}

.tags {
  padding-left: 5px;
  margin-right: 20px;
}
.tags i {
  margin-right: 10px;
  font-weight: lighter;
}
.tags i:hover {
  font-weight: normal;
}

.paymentInfo {
  display: flex;
  align-items: flex-end;
}
.addToCart {
  padding-bottom: 5px;
  margin-left: 10px;
}
.addToCart button {
  background-color: rgb(11, 142, 11);
  padding: 5px 35px;
  border-radius: 10px;
  font-size: 2rem;
  color: whitesmoke;
  box-shadow: 0 5px 0 green;
}
.addToCart:hover button {
  position: relative;
  top: 5px;
  box-shadow: none;
}
.comments {
  margin: 0 14px 2px;
  font-size: 1.6rem;
}
.comments a {
  color: darkgray;
}
.comments a:hover {
  color: gray;
}
