.nav {
  text-align: end;
  padding: 20px;
  margin-bottom: 30px;
}

.nav > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  margin: 0 10px;
  display: flex;
  cursor: pointer;
  width: 140px;
  box-sizing: border-box;
  padding: 5px 0;
  background-color: lightgrey;
  border-radius: 0.4rem;
  border: 2px solid rgb(91, 73, 27);
  font-family: sans-serif;
  font-size: 1.8rem;
  color: black;
}

.btn:hover {
  background-color: gray;
  color: whitesmoke;
}

.btn > p {
  margin: auto;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 140px;
  margin-right: 10px;
}
.dropBtn {
  margin: 0;
}
.dropdownContent {
  position: absolute;
  min-width: 100%;
  display: none;
  z-index: 1;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
}
.dropdownContent a {
  display: block;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  background-color: lightgrey;
  color: black;
  font-size: 1.8rem;
}
.dropdownContent a:hover {
  background-color: gray;
  color: whitesmoke;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: gray;
  color: whitesmoke;
}
