.container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.wrapper {
  width: 800px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
  background-color: white;
}

.btn button {
  margin: 10px;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightgrey;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.image {
  width: 100%;
  padding: 10px 0;
}

.image img {
  width: 100%;
}

.image :global .cm-s-easymde {
  border: 0;
  font-size: 22px;
}
.image :global .editor-toolbar {
  border: 0;
  background-color: rgb(0 0 0 / 2%);
}

.input {
  width: 50%;
}
