.container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.wrapper {
  width: 800px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
  background-color: white;
}

.btn button {
  margin: 10px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightgrey;
  text-transform: lowercase;
  font-size: 2rem;
}

.title input {
  font-size: 3rem;
  font-weight: 900;
}

.image {
  width: 100%;
  padding: 10px 0;
}

.image img {
  width: 100%;
}

.image :global .cm-s-easymde {
  border: 0;
  font-size: 22px;
}
.image :global .editor-toolbar {
  border: 0;
  background-color: rgb(0 0 0 / 2%);
}

.input {
  width: 50%;
}

.selectedTitlesContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 3px 0;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid gainsboro;
}
.productsCounter {
  position: relative;
  padding-right: 10px;
  font-size: 1.6rem;
}
.productsCounter span {
  position: relative;
}
.productsCounter span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: burlywood;
}
.selectedTitle {
  text-align: center;
  margin: 5px;
  padding: 5px 25px;
  background-color: burlywood;
  border-radius: 10px;
  font-size: 1.4rem;
}

.selectedProductsWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-bottom: 20px;
}
