.userBlockContainer {
  width: 350px;
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
  background-color: white;
}
.userBlockWrapper {
  padding: 1rem;
}
.userBlockWrapper > a {
  display: flex;
}

.fullName {
  margin: auto 0;
  padding: 5px 5px 5px 20px;
  overflow: hidden;
  font-size: 3rem;
}
