.postContainer {
  display: flex;
  justify-content: center;
}
.postWrapper {
  width: 800px;
  background-color: white;
  box-shadow: 0 0 2px 1px rgb(212, 212, 212);
}
.postContent {
  padding: 10px;
}

.image {
  overflow: hidden;
}
.image img {
  width: 100%;
}

.authorInfo {
  position: relative;
  display: flex;
}
.authorPostData {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  text-align: start;
  padding: 0 10px;
  font-size: 1.5rem;
}

.date span {
  font-weight: 100;
}

.editButton {
  position: absolute;
  right: 0;
}
.editButton a {
  font-size: 1.5rem;
  color: black;
  font-weight: 100;
}

.content {
  margin: 10px 0 0;
  padding: 5px 10px 10px 50px;
}

.authorName b {
  font-weight: 700;
}
.title h2,
.title h2 a {
  font-size: 2.6rem;
  text-align: left;
  color: black;
}

.text {
  margin-top: 10px;
}
.text p {
  font-size: 1.6rem;
  text-align: left;
}

.productsContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.views span {
  color: darkgray;
}

.views {
  padding: 10px;
  font-size: 1.5rem;
  text-align: right;
}
