.authorInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contentSide {
  display: flex;
}

.authorPostData {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  text-align: start;
  padding: 0 10px;
  font-size: 1.5rem;
}

.date span {
  font-weight: 100;
}

.actionsSide {
  display: flex;
  align-items: flex-start;
}

.editLink {
  text-align: right;
  width: 30px;
  padding: 5px;
  transition: 0.5s;
}
.editLink svg {
  font-size: 1.6rem;
  transition: 0.5s;
  color: gray;
}
.editLink:hover svg {
  transform: rotateY(180deg);
  color: black;
}

.removeButton {
  display: inline;
  margin-left: 10px;
  font-size: 2rem;
  background-color: transparent;
  color: gray;
}
.removeButton:hover {
  color: black;
}
.buttonDisabled,
.buttonDisabled:hover {
  color: gray;
}
